
.field-info-content{
	background-color: white;
	padding: 2px;
	border: solid 1px;
	border-radius: 5px;
	display:flex;
}
.field-info-list{
	padding: 5px 0px;
}
.popup {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: none; /* Скрываем элемент по умолчанию */
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
